/* For header style file */

.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}
.header__logo-overlay{
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--red-dark);
  z-index: 1;
}
.header__logo h4 {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  font-family: var(--font-title);
  font-size: larger;
  color: var(--white);
}

.header__menu, .header__menu-mobile {
  padding: 20px;
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  list-style: none;
}
.header__menu li {
  font-weight: 500;
  font-family: var(--font-body);
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}
.header__menu img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header__menu a {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  transform: color 0.3s ease;
}
.header__menu a:hover {
  color: var(--orange);
}