
.hero {
  display: flex;
  min-height: calc(100vh - 74px);
  overflow: hidden;
}

.hero-image {
  flex: 1;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 5;
}

.hero-image img{
  width: 120%;
  height: 100%;
  object-fit: contain;
}

.rotate-text {
  font-size: 64px;
  font-weight: bold;

  transform: rotate(-90deg); /* หมุนทวนเข็ม */
  /* หรือ rotate(90deg) ถ้าอยากหมุนอีกด้าน */

  transform-origin: left top;
}